{% extends 'Navbar.html' %}
{% load static %}
<html lang="en">
{% block body %}
<div class="container">
  <div class="row">
    <div  align="center" class="col">
        <br>
        <br>
        <br><br>
        <br>         <br><br><br>
        <img src = "{% static 'images/klu.png' %}" alt="My image" width="290" height="200"/>
        <br> <br>
      <h1>Welcome to Travel Tourism and Management</h1>

    </div>
      <div  align="center" class="col">
        <h1>Top Vacation Destinations</h1>
          <br><br>
          <h1>
              {% if error_message %}
              <p>{{ error_message }}</p>
              {% else %}
              <p>City: {{ city }}</p>
              <p>Temperature: {{ temperature1 }} &#8451;</p>
              <p>Humidity: {{ humidity }}%</p>
              {% endif %}
           </h1>
         </div></div>
   </div>
</html>
  </div>
</div>
  </div>

  </div>
</div>
               </div>
      </div>
  </div>
</div>
</div>

<br><br><br>
<center>
    </div>
    </center>
<br><br><br><br><br><br>
{% endblock %}
</html>